*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ###################################
            Add To Cart 
###################################### */
.add-to-cart-content {
    min-width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: row;
}

.add-to-cart {
    min-height: 100vh;
    width: 100%;
    margin: 0 1rem;
    background: #fff;
}

.cart-heading {
    border-bottom: 1px solid #DDD;
    padding: 1rem;
    color: #555;
}

.cart {
    width: 100%;
    height: 17rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DDD;

}

.cart-image {
    max-width: 23rem;
    height: 100%;
    padding: 1em;
}

.cart-image img {
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

.cart-info {
    padding: 1.5em;
    border-radius: 20px;
    line-height: 1.3em !important;
}

.cart-info .cart-title {
    font-size: 1.3rem;
    color: #0F1111 !important;
}

.cart-info h4 {
    margin-top: 0.5rem;
}

.cart-info-description {
    color: #1c1d1f;
    font-weight: 300;
}

.cart-price {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 0.5rem;
    position: relative;
    padding: 0 1rem;
}

.cart-price h4 {
    display: inline-block;
}

.cart-price .price-off {
    font-size: 1rem;
    transform: translateY(-12px);
    padding-left: 5px;

}

.price-off-percentage {
    color: #eb3238;
    padding: 0 0.7rem;
}

.cart-options {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.cart-options button {
    width: 8rem;
    height: 2.7rem;
    margin: 0.2rem 1rem;
    background: #fff;
    border: 1px solid #444;
}

.cart-options button a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

.cart-options .cart-item-buy button {
    width: 9rem;
}

.cart-options .cart-item-buy button:hover {
    background-color: #eb3238;
    border: none;
    transition: all 0.8s ease;
}

.cart-options .cart-item-buy button:hover a {
    color: #fff;
}

.cart-options .cart-item-delete button {
    border: none;
    background-color: #eb3238;
}

.cart-options .cart-item-delete button a {
    color: #fff;
}

.cart-options .cart-item-delete button:hover {
    background-color: #fff;
    border: 1px solid #444;
    transition: all 0.8s ease;
}

.cart-options .cart-item-delete button:hover a {
    color: black;
}

/* ############ checkout ######### */
.cart-check-out {
    margin-left: 1rem;
    width: 22rem;
    height: 23rem;
    padding: 1.4rem;
    border: 1px solid #DDD;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cart-check-out-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
    color: #eb3238;;
}

.cart-check-out-price-item {
    display: flex;
    flex-direction: row;
    color: #1c1d1f;
    justify-content: space-between;
    margin-top: 1rem;
    padding-bottom: 10px;
}
.check-out-prices{
    color:#eb3238;
}

.cart-check-out-price-item h3 {
    font-weight: 300;
}

.item-discount {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #DDD;
}

.cart-check-out-line p {
    padding: 1.5rem 0;
    font-weight: 500;
    color:#eb3238;
}

.order-now button {
    width: 100%;
    height: 2.5rem;
    background-color: #eb3238;
    border: none;
}

.order-now button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

@media (max-width: 950px) {
    .add-to-cart-content {
        flex-direction: column-reverse;
    }
    .add-to-cart {
        min-height: 100%;
        margin-bottom:1rem;
    }
    .cart .cart-image {
        width:40% !important;
        height: 100%;
        padding: 1em;
    }

    /* order now */
    .cart-check-out {
        width: 100%;
    }
}
@media (max-width: 750px) {
    .add-to-cart-content {
        padding:1rem;
    }
    .add-to-cart {
        margin: 0;
    }
    .cart{
        height: 100%;
        justify-content:center;
        align-items:center;
    }
    .cart .cart-image {
        margin:0.7em 0;
        width:12rem;
        height:9.5rem;
        padding:0;
    }
    .cart-info {
        padding: 0.5em;
        line-height: 1em !important;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction:column;
        text-align: center;
    }
    .cart-info .cart-title {
        font-size: 1rem;
        color: #0F1111 !important;
    }
    .cart-info h4 {
        margin-top: 0.5rem;
        font-size: 0.7rem;
    }
    .cart-options button {
        width: 4rem;
        height: 2rem;
        margin: 0.2rem 0.5rem;
        background: #fff;
        border: 1px solid #444;
    }
    .cart-options {
        margin-top: 0.5rem;
    }
    .cart-check-out {
        margin: 0;
        border: none;
        border-bottom: 1px solid #DDD;
    }
}
@media (max-width: 475px) {
    .cart {
        flex-direction: column;
        width: 100%; 
    }
    .cart .cart-image {
        min-width:100%;
    }
    .cart-check-out {
        padding:0.5em 0;
    }
}